#CACHE{0}
<?php
include_spip('inc/autoriser');
if (!autoriser('configurer')) {
	include_spip("inc/minipres");
	minipres('Tu es pas autorisé bonhomme !');
	exit;
}
?>

<style type='text/css'>
body {padding:1em;}
.erreur strong {color:orange;}
.echec strong {color:red;}
.ok strong {color:green;}
h1 {background:green; color:white; padding:2px; margin-top:2em; font-size:140%;}
h2 {background:green; color:white; padding:1px; margin-top:1em; font-size:120%;}
#apercu em {color:#888; font-size:80%;}
</style>

<?php
include_spip('base/abstract_sql');
include_spip('base/sql_intervallaire');
include_spip('base/sql_transaction');

define('TABLE', 'spip_test_intervallaires');
define('ID_TABLE', 'id_test_intervallaire');
$GLOBALS['table_des_tables']['test_intervallaires'] = 'test_intervallaires'; // pour id_table_objet() -> trouver_table()

function ecrire($texte, $evenement, $class = '', $stop = false) {
	echo "<span class='$class'><strong>$evenement : </strong>$texte</span><br />\n";
	if ($stop) die();
}
function erreur($texte) { ecrire($texte, 'Erreur', 'erreur'); }
function echec($texte)  { ecrire($texte, 'Échec', 'echec', true); }
function ok($texte)     { ecrire($texte, 'Ok', 'ok'); }
function titre($texte, $niveau=1)  { echo "<h$niveau>$texte</h$niveau>\n"; }
function intertitre($texte)  { titre($texte, 2); }
function test_bornes($infos_noeud, $gauche, $droit) {
	return (($infos_noeud['gauche'] == $gauche) AND ($infos_noeud['droit'] == $droit));
}
function test_rang($infos_noeud, $rang) {
	return ($infos_noeud['rang'] == $rang);
}
function test_profondeur($infos_noeud, $profondeur) {
	return ($infos_noeud['profondeur'] == $profondeur);
}
function test_parent($infos_noeud, $id_parent) {
	return ($infos_noeud['id_parent'] == $id_parent);
}



titre("Tests Intervallaires");


// ------ SUPPRESSION ANCIENNE TABLE

sql_drop_table(TABLE);



// ------ DEFINITION TABLE

$tables = array(
	TABLE => array(
		'field' => array(
			ID_TABLE => "bigint(21) NOT NULL",
			'lettre' => "varchar(4) NOT NULL DEFAULT ''",
			'maj' => "TIMESTAMP",
		),
		'key' => array(
			'PRIMARY KEY' => ID_TABLE
		)
	)
);
$tables = sql_intervallaire::declarer_champs_sql($tables, TABLE);
$field = $tables[TABLE]['field'];
$key = $tables[TABLE]['key'];

if (
	!isset($field['gauche']) OR
	!isset($field['droit']) OR
	!isset($field['rang']) OR
	!isset($field['profondeur'])) {
		echec("sql_intervallaire::declarer_champs_sql() echec !");
}




// ------ CREATION DE LA TABLE

sql_create(TABLE, $field, $key, true); // avec auto-increment

$desc = sql_showtable(TABLE);
if (!$desc OR !$desc['field']['gauche']) {
	echec("sql_create() n'a pas fonctionne");
} 

ok("Table SQL de test intervallaire créée");



// ============================================
//                  INSERTION
// ============================================
$func = "sql_intervallaire::inserer_element()";
intertitre("Insertions");

// ------ INSERER

$id = sql_intervallaire::inserer_element(TABLE, 0, array('lettre'=>'b'));
if (!$id) {
	echec("$func a retourne une erreur");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 1);
if (!is_array($infos)) {
	echec("$func n'a pas d'info sur le premier element cree");
}
if (!test_bornes($infos, 1, 2)) {
	echec("$func n'a pas donné les bornes correctes au premier élément ! Un comble !");
}
if (!test_rang($infos, 10)) {
	echec("$func n'a pas affecté le bon rang au premier élément");
}

ok("Premier élément créé avec succès");





// ------ INSERER RACINE DROITE

$quoi = "Insertion racine droite";
$id = sql_intervallaire::inserer_element(TABLE, 0, array('lettre'=>'c'));
$infos = sql_intervallaire::get_noeud_infos(TABLE, 2);
if (!$infos) {
	echec("$func $quoi, inexistant !");
}
if (!test_bornes($infos, 3, 4)) {
	echec("$func $quoi, mauvaises bornes !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang !");
}

ok($quoi);




// ------ INSERER RACINE GAUCHE

$quoi = "Insertion racine gauche";
$id = sql_intervallaire::inserer_element(TABLE, 0, array('lettre'=>'a'), 'gauche');
$infos = sql_intervallaire::get_noeud_infos(TABLE, 3);
if (!$infos) {
	echec("$func $quoi, inexistant !");
}
if (!test_bornes($infos, 1, 2)) {
	echec("$func $quoi, mauvaises bornes !");
}
if (!test_rang($infos, 10)) {
	echec("$func $quoi, mauvais rang !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 1);
if (!test_bornes($infos, 3, 4)) {
	echec("$func $quoi, décalage des bornes raté !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais décalage de rang !");
} 

ok($quoi);






// ------ INSERER PARENT

$quoi = "Insertion parent (droite)";
$id = sql_intervallaire::inserer_element(TABLE, 1, array('lettre'=>'bb'));
$infos = sql_intervallaire::get_noeud_infos(TABLE, 4);
if (!$infos) {
	echec("$func $quoi, inexistant !");
}
if (!test_bornes($infos, 4, 5)) {
	echec("$func $quoi, mauvaises bornes !");
}
if (!test_rang($infos, 10)) {
	echec("$func $quoi, mauvais rang !");
}
if (!test_profondeur($infos, 2)) {
	echec("$func $quoi, mauvaise profondeur !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 1);
if (!test_bornes($infos, 3, 6)) {
	echec("$func $quoi, mauvaises bornes du parent !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang du parent... il n'aurait pas du changer !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 2);
if (!test_bornes($infos, 7, 8)) {
	echec("$func $quoi, mauvais décalage de bornes !");
}

ok($quoi);



// ------ INSERER PARENT DROITE

$quoi = "Insertion parent droite";
$id = sql_intervallaire::inserer_element(TABLE, 1, array('lettre'=>'bc'));
$infos = sql_intervallaire::get_noeud_infos(TABLE, 5);
if (!$infos) {
	echec("$func $quoi, inexistant !");
}
if (!test_bornes($infos, 6, 7)) {
	echec("$func $quoi, mauvaises bornes !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang !");
}
if (!test_profondeur($infos, 2)) {
	echec("$func $quoi, mauvaise profondeur !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 1);
if (!test_bornes($infos, 3, 8)) {
	echec("$func $quoi, mauvaises bornes du parent !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang du parent... il n'aurait pas du changer !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 2);
if (!test_bornes($infos, 9, 10)) {
	echec("$func $quoi, mauvais décalage de bornes !");
}

ok($quoi);





// ------ INSERER PARENT GAUCHE

$quoi = "Insertion parent gauche";
$id = sql_intervallaire::inserer_element(TABLE, 1, array('lettre'=>'ba'), 'gauche');
$infos = sql_intervallaire::get_noeud_infos(TABLE, 6);
if (!$infos) {
	echec("$func $quoi, inexistant !");
}
if (!test_bornes($infos, 4, 5)) {
	echec("$func $quoi, mauvaises bornes !");
}
if (!test_rang($infos, 10)) {
	echec("$func $quoi, mauvais rang !");
}
if (!test_profondeur($infos, 2)) {
	echec("$func $quoi, mauvaise profondeur !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 4);
if (!test_bornes($infos, 6, 7)) {
	echec("$func $quoi, mauvaises bornes du frère ainé !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang du frère ainé !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 1);
if (!test_bornes($infos, 3, 10)) {
	echec("$func $quoi, mauvaises bornes du parent !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang du parent... il n'aurait pas du changer !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 2);
if (!test_bornes($infos, 11, 12)) {
	echec("$func $quoi, mauvais décalage de bornes !");
}

ok($quoi);







// ------ INSERER (GRAND) PARENT

$quoi = "Insertion (grand) parent (droite)";
$id = sql_intervallaire::inserer_element(TABLE, 4, array('lettre'=>'bbc')); // dans bb
$infos = sql_intervallaire::get_noeud_infos(TABLE, 7);
if (!$infos) {
	echec("$func $quoi, inexistant !");
}
if (!test_bornes($infos, 7, 8)) {
	echec("$func $quoi, mauvaises bornes !");
}
if (!test_rang($infos, 10)) {
	echec("$func $quoi, mauvais rang !");
}
if (!test_profondeur($infos, 3)) {
	echec("$func $quoi, mauvaise profondeur !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 4);
if (!test_bornes($infos, 6, 9)) {
	echec("$func $quoi, mauvaises bornes du parent !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang du parent... il n'aurait pas du changer !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 1);
if (!test_bornes($infos, 3, 12)) {
	echec("$func $quoi, mauvaises bornes du parent du parent !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang du parent du parent... il n'aurait pas du changer !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 2);
if (!test_bornes($infos, 13, 14)) {
	echec("$func $quoi, mauvais décalage de bornes !");
}

ok($quoi);





// ------ INSERER FRERE DROIT

$quoi = "Insertion frère droit";
$id = sql_intervallaire::inserer_element(TABLE, 7, array('lettre'=>'bbe'), 'droite', 'frere'); // a droite de bbc
$infos = sql_intervallaire::get_noeud_infos(TABLE, 8);
if (!$infos) {
	echec("$func $quoi, inexistant !");
}
if (!test_bornes($infos, 9, 10)) {
	echec("$func $quoi, mauvaises bornes !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang !");
}
if (!test_profondeur($infos, 3)) {
	echec("$func $quoi, mauvaise profondeur !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 4); // bb
if (!test_bornes($infos, 6, 11)) {
	echec("$func $quoi, mauvaises bornes du parent !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang du parent... il n'aurait pas du changer !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 5); // bc
if (!test_bornes($infos, 12, 13)) {
	echec("$func $quoi, mauvaises bornes du frère du parent !");
}

ok($quoi);






// ------ INSERER FRERE DROIT (encore)

$quoi = "Insertion frère droit (bis)";
$id = sql_intervallaire::inserer_element(TABLE, 7, array('lettre'=>'bbd'), 'droite', 'frere'); // a droite de bbc
$infos = sql_intervallaire::get_noeud_infos(TABLE, 9);
if (!$infos) {
	echec("$func $quoi, inexistant !");
}
if (!test_bornes($infos, 9, 10)) {
	echec("$func $quoi, mauvaises bornes !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang !");
}
if (!test_profondeur($infos, 3)) {
	echec("$func $quoi, mauvaise profondeur !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 8); // bbe
if (!test_bornes($infos, 11, 12)) {
	echec("$func $quoi, mauvaises bornes du frère ainé !");
}
if (!test_rang($infos, 30)) {
	echec("$func $quoi, mauvais rang  du frère ainé !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 4); // bb
if (!test_bornes($infos, 6, 13)) {
	echec("$func $quoi, mauvaises bornes du parent !");
}

ok($quoi);





// ------ INSERER FRERE GAUCHE

$quoi = "Insertion frère gauche";
$id = sql_intervallaire::inserer_element(TABLE, 7, array('lettre'=>'bba'), 'gauche', 'frere'); // a gauche de bbc
$infos = sql_intervallaire::get_noeud_infos(TABLE, 10);
if (!$infos) {
	echec("$func $quoi, inexistant !");
}
if (!test_bornes($infos, 7, 8)) {
	echec("$func $quoi, mauvaises bornes !");
}
if (!test_rang($infos, 10)) {
	echec("$func $quoi, mauvais rang !");
}
if (!test_profondeur($infos, 3)) {
	echec("$func $quoi, mauvaise profondeur !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 7); // bbc
if (!test_bornes($infos, 9, 10)) {
	echec("$func $quoi, mauvaises bornes du frère !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang du frère !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 4); // bb
if (!test_bornes($infos, 6, 15)) {
	echec("$func $quoi, mauvaises bornes du parent !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang du parent... il n'aurait pas du changer !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 5); // bc
if (!test_bornes($infos, 16, 17)) {
	echec("$func $quoi, mauvaises bornes du frère du parent !");
}

ok($quoi);





// ------ INSERER FRERE GAUCHE (bis)

$quoi = "Insertion frère gauche (bis)";
$id = sql_intervallaire::inserer_element(TABLE, 7, array('lettre'=>'bbb'), 'gauche', 'frere'); // a gauche de bbc
$infos = sql_intervallaire::get_noeud_infos(TABLE, 11);
if (!$infos) {
	echec("$func $quoi, inexistant !");
}
if (!test_bornes($infos, 9, 10)) {
	echec("$func $quoi, mauvaises bornes !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang !");
}
if (!test_profondeur($infos, 3)) {
	echec("$func $quoi, mauvaise profondeur !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 7); // bbc
if (!test_bornes($infos, 11, 12)) {
	echec("$func $quoi, mauvaises bornes du frère !");
}
if (!test_rang($infos, 30)) {
	echec("$func $quoi, mauvais rang du frère !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 4); // bb
if (!test_bornes($infos, 6, 17)) {
	echec("$func $quoi, mauvaises bornes du parent !");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang du parent... il n'aurait pas du changer !");
}

ok($quoi);





// ============================================
//                  SUPPRESSION
// ============================================
$func = "sql_intervallaire::supprimer_element()";
intertitre("Suppressions");



// ------ SUPPRIMER FEUILLE

$quoi = "Suppression feuille";
$id = sql_intervallaire::supprimer_element(TABLE, 11); // bbb
$infos = sql_intervallaire::get_noeud_infos(TABLE, 11);
if ($infos) {
	echec("$func $quoi, suppression non effective de l'élément.");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 7); // bbc
if (!test_bornes($infos, 9, 10)) {
	echec("$func $quoi, mauvaises bornes du suivant !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 4); // bb
if (!test_bornes($infos, 6, 15)) {
	echec("$func $quoi, mauvaises bornes du parent !");
}

ok($quoi);



// ------ SUPPRIMER FEUILLE RECURSIF

$quoi = "Suppression feuille recursive";
$id = sql_intervallaire::supprimer_element(TABLE, 7, true); // bbc
$infos = sql_intervallaire::get_noeud_infos(TABLE, 7);
if ($infos) {
	echec("$func $quoi, suppression non effective de l'élément.");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 9); // bbc
if (!test_bornes($infos, 9, 10)) {
	echec("$func $quoi, mauvaises bornes du suivant !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 4); // bb
if (!test_bornes($infos, 6, 13)) {
	echec("$func $quoi, mauvaises bornes du parent !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 5); // bc
if (!test_bornes($infos, 14, 15)) {
	echec("$func $quoi, mauvaises bornes du frère du parent !");
}

ok($quoi);




// ------ SUPPRIMER NOEUD RECURSIF

$quoi = "Suppression noeud recursif";
$id = sql_intervallaire::supprimer_element(TABLE, 4, true); // bb
$infos = sql_intervallaire::get_noeud_infos(TABLE, 4);
if ($infos) {
	echec("$func $quoi, suppression non effective de l'élément.");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 10); // bba
if ($infos) {
	echec("$func $quoi, suppression non effective de son enfant.");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 5); // bc
if (!test_bornes($infos, 6, 7)) {
	echec("$func $quoi, mauvaises bornes du frère !");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 1); // b
if (!test_bornes($infos, 3, 8)) {
	echec("$func $quoi, mauvaises bornes du parent !");
}

ok($quoi);





// ------ SUPPRIMER NOEUD

$quoi = "Suppression noeud";
$id = sql_intervallaire::supprimer_element(TABLE, 1); // b
$infos = sql_intervallaire::get_noeud_infos(TABLE, 1);
if ($infos) {
	echec("$func $quoi, suppression non effective de l'élément.");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 6); // ba
if (!$infos) {
	echec("$func $quoi, suppression d'un enfant !!!!.");
}
if (!test_bornes($infos, 3, 4)) {
	echec("$func $quoi, mauvaises bornes d'un enfant.");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvais rang d'un enfant.");
}
if (!test_profondeur($infos, 1)) {
	echec("$func $quoi, mauvaise profondeur d'un enfant.");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 2); // c
if (!test_bornes($infos, 7, 8)) {
	echec("$func $quoi, mauvaises bornes du suivant.");
}
if (!test_rang($infos, 40)) {
	echec("$func $quoi, mauvais rang du suivant.");
}

ok($quoi);






// ============================================
//                  DÉPLACEMENTS
// ============================================
$func = "sql_intervallaire::deplacer_element()";
intertitre("Déplacements");

// 3 : a
// 6 : ba
// 5 : bc
// 2 : c


$quoi = "Déplacer arbre à droite de racine";
$id = sql_intervallaire::deplacer_arbre(TABLE, 6, 0); // ba dans a (droite / racine)
$infos = sql_intervallaire::get_noeud_infos(TABLE, 6);
if (!test_bornes($infos, 7, 8)) {
	echec("$func $quoi, mauvaises bornes de la feuille déplacée.");
}
if (!test_rang($infos, 40)) {
	echec("$func $quoi, mauvaises rang de la feuille déplacée.");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 2);
if (!test_bornes($infos, 5, 6)) {
	echec("$func $quoi, mauvaises bornes du frère de la feuille déplacée.");
}
if (!test_rang($infos, 30)) {
	echec("$func $quoi, mauvaises rang du frère de la feuille déplacée.");
}

ok($quoi);



// 3 : a
// 5 : bc
// 2 : c
// 6 : ba

$quoi = "Déplacer arbre à gauche de racine";
$id = sql_intervallaire::deplacer_arbre(TABLE, 2, 0, 'gauche'); // ba dans a (droite / racine)
$infos = sql_intervallaire::get_noeud_infos(TABLE, 2);
if (!test_bornes($infos, 1, 2)) {
	echec("$func $quoi, mauvaises bornes de la feuille déplacée.");
}
if (!test_rang($infos, 10)) {
	echec("$func $quoi, mauvaises rang de la feuille déplacée.");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 3);
if (!test_bornes($infos, 3, 4)) {
	echec("$func $quoi, mauvaises bornes du frère de la feuille déplacée.");
}
if (!test_rang($infos, 20)) {
	echec("$func $quoi, mauvaises rang  du frère de la feuille déplacée.");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 6);
if (!test_bornes($infos, 7, 8)) {
	echec("$func $quoi, mauvaises bornes de l'ailleul de la feuille déplacée.");
}



/*
 2 : c (1,2)
 3 : a (3,4)
 5 : bc (5,6)
 6 : ba (7,8)
 
 =>
 
 2  : c (1,2)
 3  : a (3,6)
 -5 : bc (4,5)
 6  : ba (7,8)

*/
$quoi = "Déplacer arbre à droite de parent (bord gauche arbre > bord droit parent)";
$id = sql_intervallaire::deplacer_arbre(TABLE, 5, 3, 'droite', 'parent'); // bc dans a
$infos = sql_intervallaire::get_noeud_infos(TABLE, 5);
if (!test_bornes($infos, 4, 5)) {
	echec("$func $quoi, mauvaises bornes de la feuille déplacée.");
}
if (!test_rang($infos, 10)) {
	echec("$func $quoi, mauvaises rang de la feuille déplacée.");
}
if (!test_profondeur($infos, 2)) {
	echec("$func $quoi, mauvaise profondeur de la feuille déplacée.");
}
if (!test_parent($infos, 3)) {
	echec("$func $quoi, mauvais parent de la feuille déplacée.");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 3);
if (!test_bornes($infos, 3, 6)) {
	echec("$func $quoi, mauvaises bornes du parent de la feuille déplacée.");
}

$infos = sql_intervallaire::get_noeud_infos(TABLE, 6);
if (!test_bornes($infos, 7, 8)) {
	echec("$func $quoi, mauvaises bornes du frère suivant le parent de la feuille déplacée.");
}

ok($quoi);




?>


<div id='apercu'>
<B_la>
<ul>
<BOUCLE_la(spip_test_intervallaires){id_parent}{par rang}>
	<li>#LETTRE <em>(id:#ID_TEST_INTERVALLAIRE, g:#GAUCHE, d:#DROIT, r:#RANG,  p:#PROFONDEUR, nb:#NOMBRE_ELEMENTS)</em>
		<BOUCLE_la_encore(BOUCLE_la) />
	</li>
</BOUCLE_la>
</ul>
</B_la>
</div>
